<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	
        <bean id="depBiz" class="cn.itcast.erp.biz.impl.DepBiz">
		 	<property name="depDao" ref="depDao"></property>
	    </bean>
	    <bean id="empBiz" class="cn.itcast.erp.biz.impl.EmpBiz">
		 	<property name="empDao" ref="empDao"></property>
	    </bean>
	<!-- 商品 -->
	<bean id="goodsBiz" class="cn.itcast.erp.biz.impl.GoodsBiz">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	<!-- 商品分类 -->
	<bean id="goodstypeBiz" class="cn.itcast.erp.biz.impl.GoodstypeBiz">
		<property name="goodstypeDao" ref="goodstypeDao"></property>
	</bean>	
	<!-- 订单明细 -->
	<bean id="orderdetailBiz" class="cn.itcast.erp.biz.impl.OrderdetailBiz">
		<property name="orderdetailDao" ref="orderdetailDao"></property>
	</bean>
	<!-- 订单 -->
	<bean id="ordersBiz" class="cn.itcast.erp.biz.impl.OrdersBiz">
		<property name="ordersDao" ref="ordersDao"></property>
		<property name="supplierDao" ref="supplierDao"></property>		
	</bean>
	<bean id="supplierBiz" class="cn.itcast.erp.biz.impl.SupplierBiz">
		<property name="supplierDao" ref="supplierDao"></property>
	</bean>
	<!-- 报表 -->
	<bean id="reportBiz" class="cn.itcast.erp.biz.impl.ReportBiz">
		<property name="reportDao" ref="reportDao"></property>
	</bean>
</beans>
	
